.hero {
  background: pink;
  padding: 36px 0 130px;
}

.hero__inner {
  display: flex;
  gap: 60px;
}

.hero__left {
  width: 502px;
  padding-top: 55px;
}

.hero__left-text {
  font-size: clamp(12px, 1.2vw, 18px);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}



.hero__left-icon {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero__left-subtitle {
  font-family: 'Playfair Display', sans-serif;
  font-size: clamp(20px, 3.5vw, 60px);
  font-weight: 800;
  margin-bottom: 10px;
}

.hero__left-hand{
  font-size: 60px;
  color: palevioletred;
}

.hero__left-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: clamp(20px, 3.5vw, 40px);
  font-weight: 800;
  margin-bottom: 20px;
}

.hero__left-description {
  color: #0E0E0E;
  font-size: clamp(10px, 1.4vw, 16px);
  line-height: 1.5;
}




.hero__left-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 60px;
  border-radius: 75px;
  margin-top: 20px;
  background: palevioletred;
  color: antiquewhite;
  font-size: 18px;
  font-weight: 500;
}

.hero__left-arrow{
  font-size: 24px;
}

.hero__right {
 
}

.hero__right-img {
  padding-top: 50px;
  width: 400px;
  height: 600px;
  object-fit: cover;
}

